/* html body{
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    display: flex;
    flex-direction: column;
} */

/* .content{
    margin-left: 10px;
} */

h1{
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}

nav{
    padding: 10px;
    background-color: rgb(214, 214, 214);
    margin-top: 0px;
    margin-bottom: 15px;
}

.toggleLabel{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.toggleLabel::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3;
    text-align: center;
}

.toggleSwitch:checked + .toggleLabel::after{
    text-align: center;
    left: 130px;
}

.toggleSwitch:checked + .toggleLabel{
    text-align: center;
    background-color: #6de747;
    color: black;
}

.toggleSwitch:checked + .toggleTechnology{
    text-align: center;
    background-color: #e4d1d1;
    color: black;
}

.toggleSwitch:checked + .toggleEconomic{
    text-align: center;
    background-color: #b9b0b0;
    color: black;
}

.toggleSwitch:checked + .toggleBehavior{
    text-align: center;
    background-color: #d9ecd0;
    color: black;
}

.toggleSwitch{
    display: none;
}

.detailedOptions{
    display: none;
}

/* .detailedView .depreciation{
    display: none;
}

.detailedView .finance{
    display: none;
}

.detailedView .fuel{
    display: none;
}

.detailedView .insurance{
    display: none;
}

.detailedView .taxes{
    display: none;
}

.detailedView .labor{
    display: none;
} */

.togglePowertrainLabel{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
    color: white;
}

.togglePowertrainLabel::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3;
}

.togglePowertrain:checked + .togglePowertrainLabel::after{
    left: 130px;
}

.togglePowertrain:checked + .togglePowertrainLabel{
    background-color: #6de747;
    color: black;
}

.togglePowertrain{
    display: none;
}

/* .toggleLabel .labelTextDetailedView{
    float: right;
    text-align: center;
    margin-left: 4px;
} */

p{
    font-family: sans-serif;
}

.costComponent{
    display: none;
}

.costComponents{
    display: none;
}

/* .simplifiedView{
    margin: 0px 3px 3px 0px;
    width: 550px;
}  */

 /* .technologyGroup{
    min-width: 550px;
} */

.economicGroup{
    /* min-width: 550px; */
    background-color: #b9b0b0;
}

.behaviorGroup{
    /* min-width: 550px; */
    background-color: #d9ecd0;
}

.bannerPicture{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* .canvasContainer{
    max-width: 1000px;
}

.pieChartContainer{
    max-width: 600px;
} */

/* #imageOverlay{
    float: right;
} */

/* .submitButton{
    display: none;
} */

/* .content{
    min-height: calc(100vh - 70px);
} */

/* footer{
    height: 50px;
} */

