html body{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}

nav{
    padding: 10px;
    background-color: rgb(214, 214, 214);
    margin-top: 0px;
    margin-bottom: 15px;
}

.toggleLabel{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(114, 114, 114);
    border-radius: 20px;
}

.toggleLabel::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3;
}

.toggleSwitch + .toggleLabel::after{
    left: 20px;
}

.toggleSwitch:checked + .toggleLabel{
    background-color: #7983ff;
}

p{
    font-family: sans-serif;
}

.costComponent{
    display: none;
}

.costComponents{
    display: none;
}

.technologyGroup{
    width: 550px;
    background-color: rgb(70, 202, 241);
}

.economicGroup{
    width: 550px;
    background-color: rgb(133, 235, 75);
}

.behavioralGroup{
    width: 550px;
    background-color: rgb(190, 169, 137);
}

.bannerPicture{
    max-width: 100%;
    margin: 0px;
}

.content{
    min-height: calc(100vh - 70px);
}

footer{
    height: 50px;
}

