html body{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}

nav{
    padding: 10px;
    background-color: rgb(214, 214, 214);
    margin-top: 0px;
    margin-bottom: 15px;
}

.toggleLabel{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
    color: white;
}

.toggleLabel::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3;
}

.toggleSwitch:checked + .toggleLabel::after{
    left: 130px;
}

.toggleSwitch:checked + .toggleLabel{
    background-color: #6de747;
    color: black;
}

.toggleSwitch{
    display: none;
}

.togglePowertrainLabel{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
    color: white;
}

.togglePowertrainLabel::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3;
}

.togglePowertrain:checked + .togglePowertrainLabel::after{
    left: 130px;
}

.togglePowertrain:checked + .togglePowertrainLabel{
    background-color: #6de747;
    color: black;
}

.togglePowertrain{
    display: none;
}

.toggleLabel .labelText{
    float: right;
    margin-right: 20px;
}

p{
    font-family: sans-serif;
}

.costComponent{
    display: none;
}

.costComponents{
    display: none;
}

.technologyGroup{
    width: 550px;
}

.economicGroup{
    width: 550px;
    background-color: rgb(133, 235, 75);
}

.behavioralGroup{
    width: 550px;
    background-color: rgb(190, 169, 137);
}

.bannerPicture{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.canvasContainer{
    max-width: 1000px;
}

.pieChartContainer{
    max-width: 600px;
}

#imageOverlay{
    float: right;
}

/* .submitButton{
    display: none;
} */

.content{
    min-height: calc(100vh - 70px);
}

footer{
    height: 50px;
}

