/* styling for the slider element */

/* styling for the container with all of the slider and text information*/
.sliderContainer{
    margin-left: 20px;
    margin-top: 15px;
    display: inline-block;
}

.textBlock{
    font-family: sans-serif;
    font-weight: bold;
}

/* makes the slider invisible across all browsers so that custom styling can be applied after */
.slider{
    -webkit-appearance: none;
    background: transparent;
    width: 350px;
    margin-top: 10px;
    margin-left: 5px;
}

.inputContainer{
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(228, 228, 228);
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
}

.slider:focus{
    outline: none;
}

.slider::-ms-track{
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* styles for the thumb */
.slider::-webkit-slider-thumb{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 10px;
}

.slider::-ms-thumb{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 10px;
}

.slider::-moz-range-thumb{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 10px;
}

/* Styles for the track */
.slider::-webkit-slider-runnable-track{
    border: 1px solid black;
    border-radius: 10px;
}

.slider::-ms-track{
    border: 1px solid black;
    border-radius: 10px;
}

.slider::-moz-range-track{
    border: 1px solid black;
    border-radius: 10px;
}