.tabButton{
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(136, 209, 252);
    border-radius: 5px;
    border: 4px solid rgb(12, 91, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tabButton:hover{
    cursor: pointer;
    border: 4px solid rgb(45, 122, 167);
}

.detailedView{
    display: none;
}